
@keyframes border_blink {
    0% { 
    	border:0px solid rgba(white, 1);
    }
    100% { 
    	border:15px solid rgba(white, 0);
    }
}

@mixin border_blink($time){
  // display: inline-block;
  // position: relative;
  animation: border_blink $time infinite linear;
}

.credits{
	text-align:left;
	// background: rgba($trib-blue4, .5);
	// border-top: 4px solid $trib-blue2;
	// border-bottom: 4px solid $trib-blue2;
	padding:25px;
	margin-top:25px;

	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	
	background: $trib-blue2 url(../img/water-texture-1a.jpg) center no-repeat ;
	background-blend-mode: multiply;
	background-size: cover
}

.credits__header{
	@include label5();
	@include display-type('serif');
	width:100%;
	margin:0 15px 15px 0;
	text-align:center;
	color:white;
}

.credits__column{
	width:$credits_column_width;
	box-sizing:border-box;

	&--people{
		background: rgba(white,.2);
		border-radius: $credits_item_border-radius;
		margin-top: 25px;
		padding: $credits_padding;
	}

}


.credits__people{

	// margin:30px 0 0 0; // This margin aligns it with the links padding spelled out below
	// padding:30px 0 0 0;
	// border-top:1px solid rgba(white, .5);
	width:100%;
	text-align:center;
	
	dt{
		@include agate();
		font-weight: bold;
		margin: 0 0 5px 0;
		color: rgba(white, .8);
	}

	dd{
		@include serif();
		margin: 0 0 20px 0;
		color: white;

		a{
			color: white;
			text-decoration: none;
		}
	}
}
// Story links

.credits__story-links{
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}

.story-link{
	padding:10px 0;
	border: 1px solid transparent;
	

	&__link{
		text-decoration:none !important; // Using important here b/c I don't have time to mess around with bootstrap scaffolding at the moment.
	}

	&__prefix{
		@include sans-serif-text(18px, 1.3em, bold);
		text-transform: uppercase;
		font-weight:bold;
		display:block;
		color:white;
	}

	&__description{
		@include serif();
		margin-bottom:0;
		color:rgba(white, .85);
	}
}

@media all and (min-width: #{($credits_column_width * 2) + 25}){
	// When the window width is greater than the space needed for two columns and 20px gutters on container
	.credits__people{
		margin:20px 0 0 0; // This margin aligns it with the links padding spelled out below
		padding:0;
		border-top:none;
	}


	.credits__column{

		&--links { margin-right: 25px; }
		
		&--people{
			margin-top: 0;
			width:$credits_column_width;
			// border: 1px solid $trib-blue2;
		}

	}

	


	.story-link{
		@include clearfix();
		position:relative;
		padding:20px;
		cursor:pointer;
		border-radius:$credits_item_border-radius;
		transition:all 150ms ease;

		&:hover{
			background:rgba(white, .1);
			border-color:white;
			transition:all 150ms ease;
			
			&__description, &__prefix{
				color:black;
				text-decoration:none !important; // Using important here b/c I don't have time to mess around with bootstrap scaffolding at the moment.
			}
		}

		&--next{
			background:rgba(white, .8);
		    // border-left: 5px solid $trib-blue2;
		    color:black;
			
			&:before{
				content:'UP NEXT:';
				display: block;
				font-family:'Arial', sans-serif;
				font-size:14px;
				text-align:left;
				margin-bottom:5px;
			}
			.story-link__prefix{
			    font-size: 18px;
			    color:black;
			}
			.story-link__description{
			    font-size: 18px;
			    color:black;
			}
			&:hover{
				background:rgba(white, .8);
			}
		}
	}
}


// @media all and (min-width: $tablet-min-width){}
// @media all and (min-width: $desktop-min-width){}