$design_5_large_width: 60%;

@mixin distribute_across_columns($num_items, $gutter){
	width: 90% / $num_items; // fallback
	width: calc((100% - #{($num_items - 1) * $gutter}) / #{$num_items});
}


.photo-arr {
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 25px 0;


	&__override-caption{
		@include agate();
		width: 100%;
		box-sizing: border-box;
	}
	&--0{
		.image{
			@include distribute_across_columns(1, $photo_arrangement_gutter);
		}
	}

	&--1, &--2, &--5, &--6{
		display:block;

		.image{
			@include distribute_across_columns(1, $photo_arrangement_gutter);
		}
	}

	&--3{
		flex-wrap:wrap;
		.image{
			@include distribute_across_columns(2, $photo_arrangement_gutter);

			&:first-child{
				width: 100%;
				margin-bottom: $photo_arrangement_gutter;

				img{
					width: 100%;
				}
			}
		}
	}

	&--4{
		flex-wrap:wrap;
		.image{
			@include distribute_across_columns(2, $photo_arrangement_gutter);
		}
	}
}

@media all and (min-width: $tablet-min-width){
	.photo-arr.photo-arr{
		&--2{
			display:flex;
			.image{
				@include distribute_across_columns(2, $photo_arrangement_gutter);
			}
		}
		&--5 {
			display:flex;
			.image:first-child{
				width: calc(#{$design_5_large_width} - #{$photo_arrangement_gutter});
			}
			.image:last-child{
				width: #{100% - $design_5_large_width};
			}
		}

		&--6 {
			display:flex;
			.image:last-child{
				width: calc(#{$design_5_large_width} - #{$photo_arrangement_gutter});
			}
			.image:first-child{
				width: #{100% - $design_5_large_width};
			}
		}
	}
}