.story-header{
	
	position:relative;

	// Not sure if anyone will expand their window like that, 
	// but it keeps things from totally breaking down if they do
	max-width: 1600px; 
	margin: 0 auto;

	&__inner{
		@extend %border-box;
		background-size: cover;
		margin: 0 auto 25px auto;
		display: flex;
		justify-content: center;
		align-items:center;
		align-content: center;
		flex-wrap:wrap;
	}

	&__project-title{
		z-index: 1000;
		width: 100%;
	    max-width: $story_header_project-title-max-width;
		text-align: center;
		margin: 20px auto;
		padding: 5px;
		background: rgba(white, .85);
	
		p{
			@include sans-serif-text(14pt, 1em);
			@include display_type('serif');
			// @include text_stroke(white, black, 2px, .3, 7px);

			margin: 0 auto 10px auto;
			text-transform: uppercase;
			
			display:inline;
			color:black;

		}	
	}

	&__display{
		background-size:cover;	
		margin-bottom:25px;
		box-shadow: 0 -2px 5px rgba(black, .25);
		display:flex;
		flex-wrap:wrap;
		align-content:center;
		align-items:center;
		position:relative;
		overflow: visible;
		margin-bottom: 45px;
	    padding: 65px 25px;
	    box-sizing: border-box;
	    width:100%;
	    height: 100vh;
	}



	&__caption{
		@include agate();
		position: absolute;
		right:0;
		z-index: 1000;
		margin:0;
		text-align: right; 
		color: black;
		top: 100%;
		bottom:auto;
		max-width: none;
		padding: 10px;
	}
	
	&__video{
		display:none;
	}



	&__video-controls{
		display:none;
		z-index: 1000;
	}

	&__video-texture{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black url(../img/video-texture.svg);
		background-size: 4px;
		opacity: .25;
	}

	&__headline{
		@include serif-text(60px, 0.9em);
		@include display_type('sans-serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		text-transform:uppercase;
		z-index: 1000;
	}

	&__subheadline{
		@include serif-text(25px, 1.5em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		z-index: 1000;
		text-transform:none;
	}

	.social-menu{
		// This will stick the social buttons across the whitespace from the byline on mobile.
		margin: 15px 0;	
	}


	.byline{
		z-index:1000;
	}
	
	.byline-name{
		@include serif-text(18px, 1.3em, normal);
		margin: 0 0 5px 0;

		a{
			color:$trib-blue2;
			text-decoration: none;
		}
	}

	.byline-publisher{
		@include sans-serif();
		margin: 0 0 15px 0;
	}
	
	.byline-publish-date{
		@include agate();
		text-transform: uppercase;
		display:block;
		margin:0;
		
		&--update{
			color: $trib-gray4;
		}
	}



}

@media all and (min-width: $tablet-min-width){

	.story-header{
		&__display{
		// height: 100vh;
		// height: calc(100vh - #{$nav_height} - #{$ad_leaderboard_height});
		}

		&__headline{
			font-size:70px;
		}

		&__caption br{
			// This hides the break between the videographer's name and video caption
			display:none;
		}

		&__project-title br{
			display:none;
		}
	}
}


@media all and (min-width: $desktop-min-width){

	.video-controls{
		// padding: 15px;
		.video-control{
			display:none;
			border:none;
			padding: 5px;
			background: rgba(white, .3);
			margin: 5px;
			border-radius: 3px;
			transition: background 200ms;
			cursor:pointer;

			&:hover, &:focus{
				background: rgba(white, .9);
				transition: background 200ms;
			}

			&--visible{
				display:block;
			}

			&--pause{}

			&--play{}
		}
	}
	
	.story-header {

		&__display{
			// NOTE: Since we're dealing with video, it would seem easier to have a known height, sted the variable VH height.
			overflow:hidden;
			margin-bottom:25px;
			padding: 25px;
			max-height: $story_header_display_max_height;
		}

		&__caption{
			color: white;
			bottom: 0;
			top: auto;
			max-width: 250px;
		}

		&__headline{
			font-size:80px;
		}

		&__subheadline{
			font-size:30px;
		}

		&__video{
		    display: block;
		    // align-items: flex-end;
		    // justify-content: flex-start;

		    position: absolute;
		    bottom: 0;
		    left: 0;

		    width: 100%;
		    height: 100%;
		    overflow:hidden;

			video {
				// Make video to at least 100% wide and tall
				min-width: 100%; 
				min-height: 100%; 

				// Setting width & height to auto prevents the browser from stretching or squishing the video
				width: auto;
				height: auto;

				// Center the video
				position: absolute;
				bottom: 50%; // We use bottom b/c the key portion of the video is bottom center.
				left: 50%;

				// This transform will do the actual centering, but since we want 
				// to emphasize the bottom, we aren't translating (-50%, -50%).
				// Instead, we are pushing a positive distance on the Y (since we 
				// are setting position with a `bottom`) and eyeballed a good value to keep 
				// the bottom portion in view.
				transform: translate(-50%,35%);
			}

		}

		&__video-controls{
		// display:block;
		position: absolute;
		top: $nav_height + (2 * $nav_padding_v);
		right: 0;
		display:block;
		}
	}
	
	.story-header--disparity{
		.story-header__video video{
			// A tweak to match the video better.
			transform: translate(-50%,50%);
		}
	}
	
	.story-header .social-menu{
		// Give the overall social shares a little different look on desktop. 
		// These styles are extensions of the standard social shares, as seen 
		// in pullquotes
		max-width: 40px;
		justify-content: center;
		position: absolute;
		top: 100%;
		right: 50%;
		right: calc(50% + 345px);
		z-index: 900;
		justify-content:flex-start;

		li{
			cursor:pointer;
			margin-right: 0;
			margin-bottom: 15px;
			width: 100%;

			i{
				opacity:.8;
				&:hover, &:focus{
					opacity:1;
				}
			}
		}
	}
	
	.story-header--no-video{
		.story-header__display{
			height: $story_header_no_video_height;
		}
	}
}

@media all and (min-width: 1200px){
	.story-header__display { max-height: 725px; }
	.story-header__headline { font-size: 100px; }
}