.story-header{
	
	position:relative;
	
	&__inner{
		@extend %border-box;
		background: url(../img/water-texture-2.jpg) top center no-repeat;
		background-size: cover;
		padding: 50px;
		margin: 0 0 25px 0;
		height: calc(100vh - #{$nav_height + ($nav_padding_v * 2)});
		max-height: $story_header_display_max_height;
		display: flex;
		justify-content: center;
		align-items:center;
		align-content: center;
		flex-wrap:wrap;
	}

	&__project-title{
		z-index: 1000;
		width: 100%;
		max-width:370px;
		text-align: center;
		margin: 20px auto;
		padding: 5px;
		background: rgba(white, .85);
	
		p{
			@include sans-serif-text(14pt, 1em);
			@include display_type('serif');
			// @include text_stroke(white, black, 2px, .3, 7px);

			margin: 0 auto 10px auto;
			text-transform: uppercase;
			
			display:inline;
			color:black;

		}	
	}

	// &__title{
	// 	font-family:"Arial", sans-serif;
	// 	text-transform: uppercase;
	// 	font-size:16px;
	// 	color:$trib-blue4;
	// }

	// &__display{
	// 	background-size:cover;	
	// 	margin-bottom:25px;
	// 	box-shadow: 0 -2px 5px rgba(black, .25);
	// 	display:flex;
	// 	flex-wrap:wrap;
	// 	align-content:center;
	// 	align-items:center;
	// 	position:relative;
	// 	overflow: visible;
	// 	margin-bottom: 45px;
	//     padding: 65px 25px;
	// }

	// &__caption{
	// 	@include agate();
	// 	position: absolute;
	// 	right:0;
	// 	z-index: 1000;
	// 	margin:0;
	// 	text-align: right; 
	// 	color: black;
	// 	top: 100%;
	// 	bottom:auto;
	// 	max-width: none;
	// 	padding: 10px;
	// }
	
	// &__video{
	// 	display:none;
	// }

	// &__video-controls{
	// 	display:none;
	// 	z-index: 1000;
	// }

	// &__video-texture{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: black url(../img/video-texture.svg);
	// 	background-size: 3px;
	// 	opacity: .25;
	// }

	&__headline{
		@include serif-text(60px, 0.9em);
		@include display_type('sans-serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		text-transform:uppercase;
		z-index: 1000;
	}

	&__subheadline{
		@include serif-text(25px, 1.5em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		z-index: 1000;
		text-transform:none;
	}
	// &__scrolling-icon{ display:none; }

	.social-menu{
		// This will stick the social buttons across the whitespace from the byline on mobile.
		margin: 15px 0;	
	}


	.byline{
		margin-bottom:25px;
		z-index:1000;
	}
	
	.byline-name{
		@include serif-text(18px, 1.3em, normal);
		margin: 0 0 5px 0;

		a{
			color:$trib-blue2;
			text-decoration: none;
		}
	}

	.byline-publisher{
		@include sans-serif();
		margin: 0 0 15px 0;
	}
	
	.byline-publish-date{
		@include agate();
		text-transform: uppercase;
		display:block;
		margin:0;
	}

}


// // These tweaks remove the video header from the sidebars and modify the design
// .story-header {
// 	&--methods, &--assessor_response, &--appeals_methods{
// 		padding: 40px 25px 0 25px;
// 		background-color: rgba($trib-blue2, .15);
// 		background-image: url(../img/grid_background.svg);
// 		background-size: 8px;
// 		margin-bottom: 25px;

// 		.story-header__subheadline{
// 			font-size: 36px;
// 			line-height:1.3em;
// 			text-transform: none;
// 			@include text_stroke(black, black, 2px, .07, 5px);

// 		}
// 		.story-header__headline{ display:none; }

// 		.byline{
// 			padding-top: 0;
// 			border-top: none;
// 			text-align: center;
// 			margin-top: 10px;
// 			&-name{
// 				color:black;
// 			}
// 		}


// 		.byline-publish-date{
// 			color:black;
// 		}
// 	}
// }

@media all and (min-width: $tablet-min-width){

	.story-header{
		&__display{
		// height: 100vh;
		// height: calc(100vh - #{$nav_height} - #{$ad_leaderboard_height});
		}

		&__headline{
			font-size:70px;
		}

		&__caption br{
			// This hides the break between the videographer's name and video caption
			display:none;
		}

		&__project-title br{
			display:none;
		}
	}

	.story-header {
		&--methods, &--assessor_response, &--appeals_methods {
			.story-header__headline {
				font-size: 45px;
			}
		}
	}
}


@media all and (min-width: $desktop-min-width){

	.video-controls{
		// padding: 15px;
		.video-control{
			display:none;
			border:none;
			padding: 5px;
			background: rgba(white, .3);
			margin: 5px;
			border-radius: 3px;
			transition: background 200ms;
			cursor:pointer;

			&:hover, &:focus{
				background: rgba(white, .9);
				transition: background 200ms;
			}

			&--visible{
				display:block;
			}

			&--pause{}

			&--play{}
		}
	}
	
	.story-header {

		&__display{
			// NOTE: Since we're dealing with video, it would seem easier to have a known height, sted the variable VH height.
			height: 500px;
			overflow:hidden;
			margin-bottom:25px;
			padding: 25px;
		}

		&__caption{
			color: white;
			bottom: 0;
			top: auto;
			max-width: 300px;
		}

		&__headline{
			font-size:80px;
		}

		&__subheadline{
			font-size:30px;
		}

		&__video{
			display:block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

		&__video-controls{
		// display:block;
		position: absolute;
		top: 0;
		right: 0;
		display:block;
		}
	}

	.story-header .social-menu{
		// Give the overall social shares a little different look on desktop. 
		// These styles are extensions of the standard social shares, as seen 
		// in pullquotes
		max-width: 40px;
		justify-content: center;
		position: absolute;
		top: 100%;
		right: 50%;
		right: calc(50% + 345px);
		z-index: 900;
		justify-content:flex-start;

		li{
			cursor:pointer;
			margin-right: 0;
			margin-bottom: 15px;
			width: 100%;

			i{
				opacity:.8;
				&:hover, &:focus{
					opacity:1;
				}
			}
		}
	}

	// These tweaks remove the video header from the sidebars and modify the design
	.story-header {
		&--methods, &--assessor_response, &--appeals_methods {
			.story-header__subheadline {
				font-size: 55px;
				// max-width: 500px;
				margin: 0 auto 10px auto;
			}

			// .story-header__subheadline {
			// 	font-size: 23px;
			// }
		}
	}
}

