{% extends "_base.html" %}

{% block nav scoped %}
  {% set part = part %}
  {% include 'subtemplates/_nav.html' %}
{% endblock nav %}

{% block opengraph scoped %}
  {% set part = part %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@chicagotribune" />
  <meta name="twitter:creator" content="@kcecireyes" />
  <meta name="twitter:creator" content="@tgregoryreports" />
  <meta name="twitter:creator" content="@pmocwriter" />
  <meta name="twitter:creator" content="@AngelaTCR" />

  <meta name="keywords" content="{% block keywords %}{{ keywords }}{% endblock %}">
  
  {# Universal OG #}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://{{ ROOT_URL }}/{{ PATH }}" />

  {# GOOGLE STRUCTURED DATA #}
  
  {% block opengraph_story_specific scoped %}

    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ og_description }}" />
    <meta name="twitter:image" content="{{ og_image }}" />
    <meta name="twitter:image:alt" content="{{ og_image_alt_text }}" />
    {# OPENGRAPH #}
    
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta property="og:image" content="{{ og_image }}" />
  {% endblock opengraph_story_specific %}
{% endblock %}

{% block content %}
    {# 
    Remove ad per convo with Kaarin, JB and Kurt.
    {{ ad('leaderboard', false) }} 
    #}
    {% block story_header scoped %}
    <article>
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="http://{{ ROOT_URL }}/{{ PATH }}" />

      {% set part = part %}
      
      {% if show_video_bool %}
        {% set section_class = "" %}
      {% else %}
        {% set section_class = "story-header--no-video" %}
      {% endif %}

      {% include 'subtemplates/' + part + '/_header-supplement.html' ignore missing %}

        <section class='story-header story-header--{{ part }} {{ section_class }}'>  
          <div class='story-header__inner'>
            {% block video_background %}

            {% set bg_style = 'background:url(img/posters/' ~ self.video_poster() ~ '.jpg) bottom center no-repeat;background-size:cover;' %}
            <div class='story-header__display' style="{{ bg_style|process_text }}">
              {% if show_video_bool == True %}
                <div class='story-header__video'>
                    <video class='header-video header-video' autoplay muted loop playsinline
                    poster='img/posters/{% block video_poster %}{% endblock video_poster %}.jpg'
                     title="Chicago Tribune: {{ title }}">
                    {# There are several different sources. Each day should use the same filename #}
                    <source src="img/videos/{% block video_file_name %}{% endblock video_file_name %}.webm" type="video/webm">
                    <source src="img/videos/{{ self.video_file_name() }}.mp4" type="video/mp4">
                    </video>
                  <div class='story-header__video-controls video-controls'>
                  <button id='pause' class='video-control video-control--pause video-control--visible'>
                    <i class="fa fa-pause-circle" aria-hidden="true"></i>
                    Pause
                  </button>
                  <button id='play' class='video-control video-control--play'>
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    Resume
                  </button>
                </div>
              </div>
            {% endif %}
            <div class='story-header__video-texture'></div>
            <p class='story-header__caption'>{% block mobile_image_alt_text %}{% endblock mobile_image_alt_text %} {% block video_credit %}{% endblock video_credit %}</p>
            {# <i class="fa fa-arrow-circle-down fa-2x story-header__scrolling-icon" aria-hidden="true"></i> #}
            {% endblock video_background %}
            <div class='story-header__project-title'>
              <p>{{ title_prefix }}: <br />{{ title }}</p>
            </div>

            <h2 class='story-header__headline'>
              {% block headline %}{% endblock headline %}
            </h2>
            <h1 class='story-header__subheadline' itemprop="headline">
              {% block dek %}{% endblock dek %}
            </h1>
          </div>
          <div class='container'>
            <div class='river--narrow'>
              {# SOCIAL MEDIA BUTTONS  #}
              {% set page_url =  "http://" + ROOT_URL + "/" + PATH %}
              <ul class="social-menu">
                <li>
                  <a target="_blank" href="https://twitter.com/share?url={{ page_url }}&text={% block tweet %}{{ twitter_description|urlencode }}{% endblock tweet%}">
                    <i class="fa fa-twitter fa-2x"></i> <span class="hidden">Twitter</span>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page_url }}&t={% block facebook %}{{ og_description|urlencode }}{% endblock facebook %}">
                    <i class="fa fa-facebook fa-2x"></i> <span class="hidden">Facebook</span>
                  </a>
                </li>
              </ul>
              <div class='byline'>
                <p class='byline-name'>By {% block byline %}{% endblock byline%}</p>
                <time class='byline-publish-date byline-publish-date--publish' itemprop="datePublished">Published: {{ date_published|xldate_to_datetime|format_date("%b. %d, %Y") }}</time>
                {# <em><time class='byline-publish-date byline-publish-date--update' itemprop="dateModified">Updated: {{ date_updated|xldate_to_datetime|format_date("%b. %d, %Y") }}</time></em> #}
              </div>
            </div>
          </div>
        </section>
    {% endblock story_header %}
        <div class="container" itemprop="articleBody">
          <div class='river--narrow'>{% block story %}{% endblock story %}</div>
        </div>
        </article>
    {% block credits scoped %}
      {% set part = part %}
      {% include 'subtemplates/_credits.html' %}      
    {% endblock credits %}
    {% block solid_opinion_comments scoped %}
      {#  The comments require a unique id in the data-attribute, so we'll fashion one 
          using the part variable.
      #}
      {% set part = "water-comments--" + part %}
      {% include 'subtemplates/_solid-opinion-comments.html'%}
      <div data-trb-thirdpartynav></div>
    {% endblock solid_opinion_comments %}
{% endblock content %}


{% block comments %}{% endblock comments %}


{% block library_css %}
    <link rel="stylesheet" type="text/css" href="css/base.css" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
    {{ super() }}
{#     <meta http-equiv="X-UA-Compatible" content="IE=edge">   
 #}{% endblock meta %}



{% block scripts %}
    <script src="http://{{ ROOT_URL }}/js/app.min.js"></script>
{% endblock scripts %}

{% block chartbeat %}
    <script type='text/javascript'>
    var _sf_async_config = _sf_async_config || {};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 25745 /* TRONC USER ID */
    _sf_async_config.domain = 'chicagotribune.com'; /* Should this just be chicagotribune.com */
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = 'News'; //CHANGE THIS
    _sf_async_config.authors = 'Tribune Staff'; //CHANGE THIS
    /** CONFIGURATION END **/
    (function() {
        function loadChartbeat() {
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
            loadChartbeat : function() {
                oldonload();
                loadChartbeat();
            };
    })();
  </script>
{% endblock %}

{% block omniture_scripts %}
    {{ super() }}
    {# <script src="http://www.chicagotribune.com/thirdpartyservice?disablenav=true" async></script> #}
    {# <script src="//players.brightcove.net/3690581438001/BylPHnG8_default/index.min.js"></script> #}
    {# For the brightcove videos, now with a Tribune player #}
    <script src="//players.brightcove.net/3690581440001/S1vBkbMfe_default/index.min.js"></script>
{% endblock omniture_scripts %}


{% block omniture %}
{% endblock omniture %}

{% block library_scripts %}
  {% include 'subtemplates/_omniture_header_scripts.html' %}

  {# For the bootstrap. Can this be removed? #}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  {# For the adverts #}
  <script src="//media.apps.chicagotribune.com/ads/v2.1.4/ads.min.js" defer async></script>

  {# METER #}
  <script type="text/javascript" src="//www.tribdss.com/meter/ctcngux.min.js" defer async></script>

  {# For some of the JS I wrote, I need this. #}
  <script type="text/javascript">
    window.ROOT_URL = "{{ ROOT_URL }}";
  </script>

{% endblock %}

{% block shim %}{% endblock shim %}

{% block paywall %}
  {# COMMENTS #}
  <script src="http://ssor.tribdss.com/reg/tribune/chinews-apps.min.js"></script>
{% endblock paywall %}
