{% extends "_base.html" %}

{% macro aside(aside_type, add_class) %}
    {% if aside_type == 'subscribe' %}
      {% set refer_url = refers[aside_type + "_url"]['text'] %}
    {% else %}
      {% set refer_url = "http://" + ROOT_URL + "/" + refers[aside_type + "_url"]['text'] %}
    {% endif %}

    <aside class='refer refer--{{ aside_type }} {% if add_class %} {{ add_class }} {% endif %}'>
        <h3 class='refer__headline'>{{ refers[aside_type + "_headline"]['text']|dumb_to_smart_quotes|process_text() }}</h3>
        <p class='refer__blurb'>{{ refers[aside_type + "_text"]['text']|dumb_to_smart_quotes|process_text() }}</p>
        {% if  refers[aside_type + "_url"] and refers[aside_type + "_button_text"] %}
            <a class='refer__button' href='{{ refer_url }}' target="_blank">{{ refers[aside_type + "_button_text"]["text"] }}</a>
        {% endif %}
    </aside>
{% endmacro %}


{% macro add_photo(url, add_class, caption, alt) %}
  <figure class='image {{ add_class }}'>
    <img src='{{ url }}' alt='{{ alt }}'/>
    <figcaption> {{ caption }}</figcaption>
</figure>
{% endmacro %}

{% macro add_p2p_photo(slug, add_class, width, display_caption, display_credit) %}
  {% set photo = get_p2p_content_item(slug) %}
  {% if photo|check_if_is_okay_to_publish %}
  
  {% set caption = "" %}
  {% if display_caption %}
    {% set caption = caption + photo.caption|striptags|strip_whitespace %}
  {% endif %}
  {% if display_credit %}
    {% set caption = caption + " (" + photo.credit|striptags|strip_whitespace + ")" %}
  {% endif %}
      <figure class='image image--lazy {{ add_class }}'>
        <img data-full-res-src='{{ photo.photo_services_url }}/{{ width }}' src='{{ photo.photo_services_url }}/10' alt='{{ photo.title }} title='{{ photo.title }}'/>

        <noscript>
          {# Experiement to see if this is a suitable fallback for noJS users #}
            {# <img src='{{ photo.photo_services_url }}/{{ width }}' alt='{{ photo.title }} title='{{ photo.title }}'/> #}
        </noscript>


        <figcaption>{{ caption }}</figcaption>
      </figure>
    {% else %}
      <p style='padding:20px;background:red; color:yellow'>Photo (slug: {{ slug }}) is not set to "live"</p>  
    {% endif %}
{% endmacro %}

{% macro ad(type, alignment) %}
    {# returns an advert <div> with the proper alignment classes and data-* attributes to make it fit within this project. #}
    {% if alignment %}
        {% set class = "advert--" + alignment%}
    {% endif %}

    {% if type == "cube" %}
        <div class="advert {{ class }}" data-ad-type="shrinky-cube"></div>
    {% elif type == "leaderboard" %}
        <div class="advert" data-ad-type="leaderboard"></div>
    {% endif %}
{% endmacro %}

{% macro keep_scrolling_icon() %}
  <div class='story-header__scrolling-icon'>
    <span>{{ scrolling_icon_text }}</span>
    <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
  </div>

{% endmacro %}

{% macro pullquote(quote_text, quote_attribution, quote_attribution_secondary) %}
    
  {% set page_url = "http://" + ROOT_URL + "/" + PATH %}
  
  {% set tweet = quote_text + ' #TaxDivide from @chicagotribune' %}
    <figure class="trib-pullquote">
        <ul class="social-menu">
            <li>
                <a target="_blank" href="https://twitter.com/share?url={{ page_url }}&text={{ tweet|urlencode }}">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Twitter</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page_url }}&t={{ quote_text|urlencode }}">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Facebook</span>
                </a>
            </li>
        </ul>
{#         <p>{{ quote_text|length }} CHARS QUOTE</p>
        <p>{{ tweet|length }} CHARS TOTAL</p> #}
        <blockquote>{{ quote_text|dumb_to_smart_quotes|process_text() }}</blockquote>
        {% if quote_attribution %}
            <figcaption>
                {{ quote_attribution|process_text() }}
                {% if quote_attribution_secondary|process_text() %}<span>{{ quote_attribution_secondary|process_text() }}</span>{% endif %}
            </figcaption>
        {% endif %}
    </figure>
    
{% endmacro %}

{% macro add_chart(id, addon_class, url) %}
    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <div class='chart chart--{{ id }} {{ class }}'>      
        <div id='{{ id }}' class='graphic-embed' data-iframe-url='{{ url }}'></div>
        {# {% include "_subtemplates/_loading-spinner.html" %} #}
    </div>
{% endmacro %}

{% macro add_video(id, link_base_url, addon_class="", header, video_slug) %}
  
    {% set video = get_p2p_content_item(video_slug) %}
    {# {{ video }} #}
    {# <img src="{{ photo['alt_thumbnail_url']|format_video_thumb }}" /> #}
    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    {# Randomstring for an id. #}
    {% set id = id|generate_id %}
    {% set video_player_ref = link_base_url|get_video_ref %}

   <div class='video {{ class }}'>
        {% if header %}
       <h4 class='video__headline'>{{ header }}</h4>
       {% endif %}
       <div class='video__wrapper'>
       {# <img class='video__thumb' src="{{ video['alt_thumbnail_url']|format_video_thumb }}" /> #}
{#        <button class='video__play-icon'>
          <i class="fa fa-play-circle-o" aria-hidden="true"></i>
       </button> #}
        <div class='video__object-wrapper'>



        <video data-account="3690581440001"
            data-player="BylPHnG8"
            data-embed="default"
            data-video-id="ref:{{ video['id'] }}"
            data-application-id
            tabindex="-1" 
            class="video-js"
            controls></video>
        {# 



<video autoplay="" class="vjs-tech" id="trb_mediamanager_93449722_html5_api" data-embed="default" data-account="3690581440001" data-video-id="ref:93449722" data-player="HyGaz3iJeZ" tabindex="-1" preload="auto" src="blob:http://www.chicagotribune.com/bec5ad6e-6156-4f0f-9876-722f14faf3ed"></video>


        <object id='{{ id }}' class='BrightcoveExperience'>
          <param name='bgcolor' value='#FFFFFF' />
          <param name='wmode' value='transparent' />
          <param name='autoStart' value='false' />
          <param name='sectionName' value ='/news/watchdog' />
          <param name='contentItemType' value ='embed' />
          <param name='omnitureServer' value='' />
          <param name='omnitureAcct' value='' />
          <param name='playerID' value='3688749019001' />
          <param name='playerKey' value='AQ~~,AAADW0fLtgE~,MIfKkt0NgAvSglhcwVIGmENcE3304kfQ' />
          <param name='adServerURL' value='' />
          <param name='additionalAdTargetingParams' value='' />
          <param name='externalAds' value='true' />
          <param name='linkBaseURL' value='{{ link_base_url }}' />
          <param name='isVid' value='true' />
          <param name='isUI' value='true' />
          <param name='swliveconnect' value='true' />
          <param name='dynamicStreaming' value='true' />
          <param name='showNoContentMessage' value='true' />
          <param name='secureConnections' value='true' />
          <param name='secureHTMLConnections' value='true' />
          <param name='@videoPlayer' value='ref:{{ video_player_ref }}' />
        </object> #}
    </div>
    </div>
    </div>
{% endmacro %}

{% macro add_author(name, email) %}
  <a itemprop="author" {% if email %}href="mailto:{{- email -}}?subject=Regarding: {{ overall_project_title }}"{% endif %}>{{- name -}}</a>
{% endmacro%}

{% block nav scoped %}
  {% set part = part %}
  {% include 'subtemplates/_nav.html' %}
{% endblock nav %}

{% block opengraph scoped %}
  {% set part = part %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@chicagotribune" />
  <meta name="twitter:creator" content="@jasongrotto" />

  <meta property="og:url" content="http://{{ ROOT_URL }}/{{ PATH }}" />
  <meta name="keywords" content="{{ keywords }}">
  {% block opengraph_story_specific scoped %}

    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ og_description }}" />
    <meta name="twitter:image" content="{{ og_image }}" />
    <meta name="twitter:image:alt" content="{{ og_image_alt_text }}" />
    {# OPENGRAPH #}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta property="og:image" content="{{ og_image }}" />
  {% endblock opengraph_story_specific %}
{% endblock %}

{% block content %}
    {# 
    Remove ad per convo with Kaarin, JB and Kurt.
    {{ ad('leaderboard', false) }} 
    #}
    {% block story_header scoped %}
    <article>
      {% set part = part %}
      {% include 'subtemplates/' + part + '/_header-supplement.html' ignore missing %}
      <section class='story-header story-header--{{ part }}'>
          <div class='story-header__project-title'>
            <p>Tribune watchdog: <br />{{ title }}</p>
          </div>

          <h2 class='story-header__headline'>
            {% block headline %}{% endblock headline %}
          </h2>
          <h1 class='story-header__subheadline' itemprop="headline">
            {% block dek %}{% endblock dek %}
          </h1>
          </div>
        <div class='container'>
          {# <div class='row'> #}
            {# <div class='col-xs-12'> #}
              <div class='river--narrow'>
                {# SOCIAL MEDIA BUTTONS  #}
                {% set page_url =  "http://" + ROOT_URL + "/" + PATH %}
                <ul class="social-menu">
                    <li>
                        <a target="_blank" href="https://twitter.com/share?url={{ page_url }}&text={% block tweet %}{{ twitter_description|urlencode }}{% endblock tweet%}">
                            <i class="fa fa-twitter fa-2x"></i> <span class="hidden">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page_url }}&t={% block facebook %}{{ og_description|urlencode }}{% endblock facebook %}">
                            <i class="fa fa-facebook fa-2x"></i> <span class="hidden">Facebook</span>
                        </a>
                    </li>
                </ul>
                <div class='byline'>
                  <p class='byline-name'>By {% block byline %}{% endblock byline%}</p>
                  <time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime|format_date("%B %d, %Y") }}</time>
                </div>
              </div>
            {# </div> #}
          {# </div> #}
        </div>
      </section>
    {% endblock story_header %}
        <div class="container" itemprop="articleBody">
          <div class='river--narrow'>{% block story %}{% endblock story %}</div>
        </div>
        </article>
    {% block credits scoped %}
      {% set part = part %}
      {% include 'subtemplates/_credits.html' %}      
    {% endblock credits %}
    {% block solid_opinion_comments scoped %}
      {#  The comments require a unique id in the data-attribute, so we'll fashion one 
          using the part variable.
      #}
      {% set part = "water-comments--" + part %}
      {% include 'subtemplates/_solid-opinion-comments.html'%}
      <div data-trb-thirdpartynav></div>
    {% endblock solid_opinion_comments %}
{% endblock content %}


{% block comments %}{% endblock comments %}


{% block library_css %}
    <link rel="stylesheet" type="text/css" href="css/base.css" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
    {{ super() }}
{#     <meta http-equiv="X-UA-Compatible" content="IE=edge">   
 #}{% endblock meta %}



{% block scripts %}
    <script src="http://{{ ROOT_URL }}/js/app.min.js"></script>
    {# <script>brightcove.createExperiences();</script> #}
{% endblock scripts %}

{% block chartbeat %}
    {% include 'subtemplates/_chartbeat.html' %}
{% endblock %}

{% block omniture_scripts %}
    {{ super() }}
    {# <script src="http://www.chicagotribune.com/thirdpartyservice?disablenav=true" async></script> #}
    <script src="//players.brightcove.net/3690581438001/BylPHnG8_default/index.min.js"></script>

{% endblock omniture_scripts %}


{% block omniture %}
{% endblock omniture %}

{% block library_scripts %}
  {% include 'subtemplates/_omniture_header_scripts.html' %}

{# For the bootstrap. Can this be removed? #}
{# <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> #}

  {# For the adverts #}
  <script src="//media.apps.chicagotribune.com/ads/v2.1.4/ads.min.js" defer async></script>

  {# METER #}
  <script type="text/javascript" src="//www.tribdss.com/meter/ctcngux.min.js" defer async></script>

  {# For some of the JS I wrote, I need this. #}
  <script type="text/javascript">
    window.ROOT_URL = "{{ ROOT_URL }}";
  </script>

{% endblock %}

{% block shim %}{% endblock shim %}

{% block paywall %}
  {# COMMENTS #}
  <script src="http://ssor.tribdss.com/reg/tribune/chinews-apps.min.js"></script>
{% endblock paywall %}
