{% extends "_project-base.html" %}
{% from './subtemplates/_macros.html' import add_author with context %}


{# THIS MATTERS MOST. IT CHANGES WHICH STUFF GETS PULLED IN #}
{% set part = 'privatization' %}

{# VIDEO BLOCKS #}
{% set show_video_bool = True %}
{% block video_poster %}{{ part }}{% endblock video_poster %}
{% block video_file_name %}{{ part }}{% endblock video_file_name %}
{% block mobile_image_alt_text %}{{ headlines[part ~ "_mobile_alt_text"]['value']|process_text() }}{% endblock mobile_image_alt_text %}
{% block video_credit %}{{ headlines[part ~ "_video_credit"]['value']|process_text() }}{% endblock video_credit %}

{# TEXT BLOCKS  #}
{% block headline %}{{ headlines[part ~ "_headline"]['value'] }}{% endblock headline %}
{% block dek %}{{ headlines[part ~ "_dek"]['value'] }}{% endblock dek %}

{% block byline %}
    {{ add_author("Ted Gregory", "tgregory@chicagotribune.com")|trim }}, 
    {{ add_author("Cecilia Reyes", "creyes@chicagotribune.com")|trim }} and 
    {{ add_author("Patrick M. O'Connell", "poconnell@chicagotribune.com")|trim }}
{% endblock byline%}

{% block published_time %}
    {% set date_published = date_published_privatization|xldate_to_datetime %}
    {% set date_published_iso = date_published_privatization|xldate_to_datetime|format_date("%Y-%m-%dT%H:%M:%S-06:00") %}
    {% set date_published_readable = date_published|xldate_to_datetime|format_date("%b. %d, %Y") %}
    
    {# Add a dateModified here if the story is updated #}
    <time class='byline-publish-date byline-publish-date--publish' itemprop="datePublished" content="{{ date_published_iso }}" datetime="{{ date_published_iso }}">Published: {{ date_published_readable }}</time>
{% endblock published_time %}


{% block meta_publish_date %}

    {% set date_published = date_published_privatization|xldate_to_datetime %}
    {% set date_published_iso = date_published|xldate_to_datetime|format_date("%Y-%m-%dT%H:%M:%S-06:00") %}
    <meta property="article:published_time" content="{{ date_published_iso }}" datetime="{{ date_published_iso }}" />

{% endblock%}


{% block opengraph_story_specific scoped %}

    <meta property="og:title" content="{{ title }} | {{ headlines[part ~ '_headline']['value'] }}" />
    <meta property="og:description" content="{{ headlines[part ~ '_og_description']['value'] }}" />
    <meta property="og:image" content="{{ headlines[part ~ '_thumb']['value'] }}" />
    <meta name="description" content="{{ headlines[part ~ '_seo_description']['value'] }}" />
    <meta property="og:image:alt" content="{{ headlines[part ~ '_thumb_alt_text']['value'] }}" />

    <meta name="twitter:title" content="{{ title }} | {{ headlines[part ~ '_headline']['value'] }}" />
    <meta name="twitter:description" content="{{ headlines[part ~ '_og_description']['value'] }}" />
    <meta name="twitter:image" content="{{ headlines[part ~ '_thumb']['value'] }}" />
    <meta name="twitter:image:alt" content="{{ headlines[part ~ '_thumb_alt_text']['value'] }}" />
{% endblock opengraph_story_specific %}

{# SOCIAL MEDIA BUTTONS #}
{% block tweet %}{{ headlines[part ~ '_twitter']['value'] }}{% endblock tweet %}
{% block facebook %}{{ headlines[part ~ '_og_description']['value']|urlencode }}{% endblock facebook %}

{% block story %}
    {%- for story in stories[part] %}
        {% set s = story %}
        {% include 'subtemplates/_story-loop.html' %}
    {% endfor -%}
{% endblock %}

{# META KEYWORDS #}
{% block keywords %}{{ headlines[part ~ '_seo_keywords']['value'] }}{% endblock %}
