<section id='day1-header'>
	<div class='day1-header-background'>
		<div id='day1-header-display' class='day1-header-display'>
			<div class='map-wrapper map-wrapper--visible'>
				<div id='map'></div>
			</div>
			{# <div id='income' class='header-chart'></div> #}
			{# <div id='race' class='header-chart'></div> #}
			<div id='close-prologue' class='close-prologue'>
				<i class="fa fa-times-circle-o close-prologue__icon" aria-hidden="true"></i>
				<p class='close-prologue__text'>Skip intro</p>
			</div>
			<!-- Slider main container -->
			<div class="swiper-container">
				{# {{ keep_scrolling_icon() }} #}
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					{%- for blurb in day1_header_blurbs|sort(attribute='order') if blurb.publish == 1  -%}
						{% set classes_to_add = "" %} 
						{% if blurb.width %}
							{% set classes_to_add = classes_to_add + "swiper-slide--" + blurb.width + " " %}
						{% endif %}
						<div id='blurb{{ blurb.order }}' class='swiper-slide {{ classes_to_add }} text'>
							<div class='swiper-slide__inner'>
								<p class='text__blurb'>{{ blurb.blurb|process_text }}</p>
								{% if loop.first %}
									<div class='instructions'>
										{# <i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i> #}
										<p>Click, tap, or swipe to advance</p>
										<i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i>
									</div>
								{% endif %}
								{% if loop.last %}
									<div class='instructions'>
										<p>Scroll to advance</p>
										<i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i>
									</div>								
								{% endif %}
							</div>
						</div>
					{%- endfor -%}
				</div>

				{# <!-- If we need pagination --> #}
				<div class="swiper-pagination"></div>

				{# <!-- If we need navigation buttons --> #}
				<div class="swiper-button swiper-button--prev"></div>
				<div class="swiper-button swiper-button--next"></div>

				{# <!-- If we need scrollbar --> #}
				{# <div class="swiper-scrollbar"></div> #}

			</div>
		</div>
	</div>
</section>