{# {% extends "_tax-base.html" %} #}

{% from '_project-base.html' import add_chart as add_chart with context%}
{% from '_project-base.html' import add_photo as add_photo with context %}
{% from '_project-base.html' import add_p2p_photo as add_p2p_photo with context %}
{% from '_project-base.html' import ad as ad  with context%}
{% from '_project-base.html' import add_video as add_video with context %}
{% from '_project-base.html' import pullquote as pullquote  with context%}
{% from '_project-base.html' import aside as aside  with context%}

{% if s.close_river|upper == TRUE or s.close_river|upper == "TRUE" %}
    </div>
{% endif %}

{% set type = s.type %}
{% if type == "text" %}
    
    {% set content = s.content|dumb_to_smart_quotes|markdown %}
    
    {% if s.has_inline_link or s.has_inline_link|upper == "TRUE"  %}
        {% set content = content|find_inline_link %}
    {% endif %}
    
    {{ content }}
    
{% elif type == "graphic" and s.graphic_id and s.url %}
    {% if s.add_class %}
        {% set add_class = s.add_class %}
    {% else %}
        {% set add_class = "" %}
    {% endif %}
    {{ add_chart(s.graphic_id, s.add_class, s.url) }}
{% elif type == "photo" and s.url and s.caption and s.alt %}
    {% if s.add_class %}
        {% set add_class = s.add_class %}
    {% else %}
        {% set add_class = "" %}
    {% endif %}
    {{ add_photo(s.url, s.add_class, s.caption, s.alt)}}
{% elif type == "advert" and s.ad_type and s.ad_alignment %}
    {{ ad(s.ad_type, s.ad_alignment) }}
{% elif type == "video" and s.id and s.link_base_url %}
    {% if s.add_class %}
        {% set add_class = s.add_class %}
    {% else %}
        {% set add_class = "" %}
    {% endif %}

    {% if s.header %}
        {% set header = s.header %}
    {% else %}
        {% set header = False %}
    {% endif %}

    {{ add_video(s.id, s.link_base_url, add_class, header, s.video_slug) }}
{% elif type == "pullquote" and s.quote_text and s.quote_attribution %}
    {% if s.quote_attribution_secondary %}
        {% set quote_attribution_secondary = s.quote_attribution_secondary %}
    {% else %}
        {% set quote_attribution_secondary = "" %}
    {% endif %}
    {{ pullquote(s.quote_text, s.quote_attribution, quote_attribution_secondary) }}
{% elif type == "p2p_photo" and s.slug %}
    {% if s.add_class %}
        {% set add_class = s.add_class %}
    {% else %}
        {% set add_class = "" %}
    {% endif %}
    {% if s.close_river|upper == TRUE or s.close_river|upper == "TRUE" %}
        {% set width = 1200 %}
    {% else %}
        {% set width = 650 %}
    {% endif %}

    {% if s.display_caption == false or s.display_caption|upper == "FALSE" %}
        {% set display_caption = False %}
    {% else %}
        {% set display_caption = True %}
    {% endif %}

    {% if s.display_credit == false or s.display_credit|upper == "FALSE" %}
        {% set display_credit = False %}
    {% else %}
        {% set display_credit = True %}
    {% endif %}

    {{ add_p2p_photo(s.slug, s.add_class, width, display_caption, display_credit) }}

{% elif type == "html" %}
    {{ s.html_content|process_text }}
{% elif type|upper == "REFER" %}
    {% if s.add_class %}
        {% set add_class = s.add_class %}
    {% else %}
        {% set add_class = "" %}
    {% endif %}
    {{ aside(s.content, add_class) }}
{% endif %}


{% if s.close_river|upper == TRUE or s.close_river|upper == "TRUE" %}
    <div class='river--narrow'>
{% endif %}

